@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.fixed_title {

    color:#0167B1;
    font-size: 45px;
    text-align: start;
    font-family: 'Varela Round';
    padding-top:250px;
    font-weight: 600;

}


.text {

    display:flex;
    flex-direction: column;
}


.title_carrosel {

    width:349px;
    height:41px;
    font-size:30px;
    font-family: 'Varela Round';
    color:black;
    text-align: start;
    padding-bottom: 45px;

}

.description_carrossel {

    text-align: start;
    width:349px;
    font-size: 20px;
    font-family: 'Varela Round';
    height:304px;
}

.container1 {

    display:flex;
    flex-direction: row;
}

.cards_carrossel {

    width: 426px;
    height: 450px;
    margin:0px;
    position: relative;
}

.maincard {

    display:flex;
    flex-direction: row;
    margin-bottom: 170px;

}


.slick-dots {

    top: 570px;
    left:73px;
}

.texts_carrossel {

    width: 349px;
}
















