@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.welcome {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 801px;
}
.welcomeSection{
    position: relative;
    width: 100%;
}

h1 {
    position: absolute;
    color: #0167B1;
    line-height: 60px;
    font-size: 50px;
    text-align: left;
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    left: 220px;
    margin: 0px;
    top: 119px;
    

}
.images{
    position: absolute;
    left: 550px;
    height: 459px;
    width: 716px;
}
.img-back{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    left: 60px;
}

.img-front{
    position: absolute;
    z-index: 1;
    height: 259px;
    width: 616px;
}